@import 'lib/nib/'
// normalize-html5();
/*Normilize css*/
normalize-css()
reset-box-size()
/*Normilize css*/

// grid system
$mobile-first = false;
$max-width=    940px;
$breakpoints=  992px 768px 676px;
$desktopGutter = 30;
$colLeftWidth = (595 + $desktopGutter) * 100 / $max-width;
$colRightWidth =(282 + $desktopGutter) * 100 / $max-width;
$gutters=      unit($desktopGutter,'px') 26px 20px 50px;
$container = {
  ".container": {
    gutter: true
  }
  ".row": {
    nested: true
  }
}
$grid = {
  ".col3": {
    width: 1/3 null null 1,
    float: left null null none,
  },
  ".col2": {
    width: 1 null null 1/2,
    float: none null null left,
  },
  ".col12": {
    width: 1 null null null,
    float: none null null null
  },
  ".contentLeft": {
  width: unit($colLeftWidth,'%') null 1 null,
  float: left null null null
  },
  ".contentRightCol": {
    width: unit($colRightWidth,'%') null 1 null,
    float: right null null null
  },
  ".rightColItem": {
    width: 1 null 1/2 1,
    float: none left null none
  },
  ".copyright": {
    width: unit(40,"%") null unit(35,"%") 1,
    float: left null null none
  },
  ".payments": {
    width: unit(60,"%") null unit(65,"%") 1,
    float: right null null none
  }
}
@import 'rebar.styl';
@import 'mixin.styl';
@import 'rupture.styl';
// import nib libs
// variables
$fontmont = 'Montserrat', sans-serif Arial, Helvetica
$fontrob = 'Roboto', sans-serif, Helvetica
.clearfix
  clearfix()

.textCenter
    text-align center
.toRight
    float: right;

    //export to include
.header__landing {
  padding-top 56px
  color: #fff;
  background #fff url(../images/bg.svg) no-repeat;
}
  .header__logo {
    float:left;
    font: bold 20px $fontmont;
  }
  .header__login-block {
    float right
  }
    .header__login-block-login,
    .header__login-block-sign {
      float left
      padding 12px 19px
      font: bold 14px $fontmont;
      transition: all .5s
    }
    .header__login-block-login {
      border-radius 18px
      border 2px solid transparent
    }
    .header__login-block-sign {
      border 2px solid
      border-radius 18px
    }
      .header__login-block-login:hover,
      .header__login-block-sign:hover {
        background #fff;
        color:#000;
      }
       .header__login-block-login:active,
      .header__login-block-sign:active {
        background #DEDDDD;
        color:#131010;
      }
  .header_text {

  }
// underHeader
.underHeader {
  margin 170px auto
  .header_text {
    white-space:pre-line;
    font bold 52px $fontmont;
    text-transform uppercase
    color #fff
  }
  p {
    font 100 24px $fontrob;
  }
  .header_btn {
    display inline-block
    padding 14px 22px
    margin-top 35px
    border-radius 24px
    font bold 14px $fontmont
    text-decoration none
    background #ff4e50
    color #fff
    transition background .5s
    &:hover {
      background lighten(@background,10%)
    }
    &:active {
      background darken(@background,10%)
    }
  }
}

//hiw block
.hiwBlock {
  h2 {
    text-align center
    font bold 22px $fontmont
    color #333333
  }
  .hiwItem {
    height 400px
    &:before {
      content ''
      position absolute
      width 100%
      height 100%
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 99%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.6)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 99%);
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 99%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 99%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 99%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );

    }
  }
  .hiwItem1 {
    position relative
    background url(../images/hiw_1.jpg)
  }
  .slick-prev {
      left: 15px;
  }
  .slick-next {
      right: 15px;
  }
  .slick-next:before {
      content: '';
      width: 30px;
      height: 55px;
      display: inline-block;
      background: url(../images/arr.png) 30px 0;
      fill: #BD3535;
  }
  .slick-prev:before {
      content: '';
      width: 30px;
      height: 55px;
      display: inline-block;
      background: url(../images/arr.png);
      fill: #BD3535;
  }
}