extends ../layouts/landing

block head
	- pageTitle = 'Landing page title';
	- pageDescription = 'Landing page description';
	- pageKeywords = 'landing, html-slicing, psd, template, ua web challenge';

//- block scripts
//- 	+script(['js/main.js'])

//- content
block content
	section.underHeader
		.container.textCenter
			h1.header_text
				|Share your
				|holiday dreams
			p And find the perfect partner to fullfill it
			a(href='#' class='btn header_btn') Find your holiday partner
	section.hiwBlock
		.container
			.row
				h2 How Urlaubsglück works?
				.col3
					.hiwItem.hiwItem1
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						div
							h3 Morbi velit risus
							p Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
				.col3
					.hiwItem.hiwItem1
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						div
							h3 Morbi velit risus
							p Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
				.col3
					.hiwItem.hiwItem1
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						div
							h3 Morbi velit risus
							p Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						div
							h3 Sed leo enim, condimentum
							p Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.