//- include ../helpers/variables
//- include ../helpers/mixins

doctype html
html(lang='ru')
	include ../partials/head

	body
		include ../partials/header
		.container
			block content

		include ../partials/footer

		include ../partials/scripts